html {
    background-color: #2a2a2a;
    background-image: url('../img/carbon_fiber_texture.png');
    background-size: 40px;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(transparent, #000000);
    color: #fff;
    font-size: 100%;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

body.flashing {
    background: rgba(255, 0, 0, .3);
}

table, th, td {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

#menu_expand {
    position: absolute;
    background-color: rgba(255, 255, 255, .07);
    box-shadow: 1px 1px 5px black;
    top: 0;
    left: 0;
    padding: .5em 1em;
    cursor: pointer;
}

#menu_expand:hover {
    position: absolute;
    background-color: rgba(174, 255, 0, .09);
    box-shadow: 1px 1px 5px 5px black;
}

#modal_overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 3;
}

.plaque {
    background: linear-gradient(75deg, black, #2a2a2a, black, #191919, black);
    border-radius: 20px;
    box-shadow: 0px 0px 15px #d3ff3d;
}

.plaque .bevel {
    margin: 7px;
    border: 1px solid black;
    background: linear-gradient(55deg, black, #191919, black);
    border-radius: 15px;
}

.button {
    font-size: 1.5em;
    font-family: 'arial';
    display: inline;
    padding: 0 5px;
    color: #000000;
    background-color: #d3ff3d;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #000000;
    text-shadow: 1px 1px 5px #2a2a2a;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}

.button:hover {
    color: #000000;
    background-color: #f3ff55;
}

.button.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.button:active {
    cursor: pointer;
    color: #000000;
    background-color: #f3ff55;
    box-shadow: 2px 2px 10px #000000;
}

.header {
    top: 1em;
    background: linear-gradient(to right, #2a2a2a, #191919, #2a2a2a);
    position: absolute;
    left: 20%;
    width: 60%;
    text-align: center;
}

.header .bevel {
    border: 1px solid black;
    background: black;
    border-radius: 15px;
}

.header-text {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 3em;
    letter-spacing: .05em;
    font-family: 'Freestyle Script';
    z-index: 1;
    margin: 5px 0 0 0;
    color: white;
    text-shadow: 0px 1px 5px #e5ff00 ;
}

.header-text2 {
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 4em;
    font-family: 'EternalFascination1';
    z-index: 0;
    margin: 5px 0 0 0;
    color: #aeff00;
    text-shadow: 0px 1px 10px #ebff3d ;
}

.header img {
    position: relative;
    z-index: 0;
    width: 90%;
}

.players {
    position: absolute;
    top: 15%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 15%;
}

.players .button {
    display: inline-block;
    margin: 0 0 .5em .5em;
}

.players li {
    line-height: 1.1em;
    position: relative;
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    background: linear-gradient(25deg, rgba(255, 255, 255, 0.3), transparent 45%);
}

.players li.paidx0 span {
    color: rgba(255, 255, 255, .3);
    text-shadow: none;
}

.players li span,
.players li .rebuy,
.players li button {
    display: inline-block;
    vertical-align: middle;
}

.players li span {
    font-size: 1.6em;
    line-height: 1em;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    padding: 0 0 0 .5em;
    cursor: pointer;
}

.players li:hover span {
    color: #d3ff3d;
}

.players li div.rebuy {
}

.players li div.rebuy img {
    height: .9em;
}

.players li .placing {
    float: right;
}

.player-menu {
    text-align: center;
}

.player-menu .button {
    font-size: 1em;
    display: block;
    margin: .5em 1em;
}

.timer {
    position: absolute;
    bottom: 25%;
    width: 60%;
    left: 20%;
    color: #d3ff3d;
    text-shadow: 1px 1px 5px #ebff3d;
    text-align: center;
}

.timer audio {
    display: none;
}

.timer table {
    display: block;
    width: 100%;
}

.timer .display td {
    font-size: 10em;
    font-family: 'DSDIGI';
}

.timer td {
    text-align: center;
}

.timer .control td {
}

.timer td.first {
    text-align: right;
    width: 45%;
}

.timer td.last {
    text-align: left;
    width: 45%;
}

.button-wrapper {
    margin-top: 1.5em;
}

.chip-values {
    position: absolute;
    left: 30%;
    width: 40%;
    text-align: center;
    color: #ffffff;
    bottom: .25em;
}

.chip-values .bevel {
    padding: 0 1em .5em 1em;
}

.chip-values .item {
    text-align: center;
    display: inline-block;
    width: 5em;
    margin: 0 .25em;
}

.chip-values .item span {
    margin-left: -10px;
    font-weight: bold;
    font-size: 1.4em;
}

.chip-values .item img {
    width: 100%;
}

.blinds {
    position: absolute;
    top: 15%;
    right: 0;
    width: 15%;
    font-size: 1.5em;
    text-align: right;
}

.blinds li {
    background: linear-gradient(195deg, rgba(256, 256, 256, 0.1), transparent 45%);
    position: relative;
    display: block;
    margin: 5px 0;
}

.blinds li.end-of-rebuy-1:after {
    content: 'End of rebuy';
    font-size: .6em;
    color: #aeff00;
    margin-right: 2em;
}

.blinds li span {
    display: block;
    padding: 5pt 1em 5pt 1em;
}

.blinds li.completed-1 {
    opacity: .6;
}

.blinds li.active span {
    font-size: 1.2em;
    font-weight: bold;
}

.blinds li.active .status {
    position:  absolute;
    top: -5px;
    right: 0;
    left: 1em;
    bottom: -5px;
    background: 
        linear-gradient(45deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, .1), rgba(255, 255, 255, .04), rgba(255, 255, 255, .1)),
        linear-gradient(rgba(0, 0, 0, .8) 10%, transparent 10%, transparent 90%, rgba(0, 0, 0, .7) 90%), 
        linear-gradient(to right, rgba(0, 0, 0, .95) 2%, transparent 2%);
    box-shadow: 0px 0px 20px #aeff00;
}

.blinds li.finished .status {
    position: absolute;
    right: 20pt;
    top: 0;
    height: 100%;
    width: 20pt;
}

/* Forms
----------------------------------------------------------*/
form {
    text-align: center;
}
.form-field {
    margin: .5em 0 0 0;
    width: 80%;
    display: inline-block;
    vertical-align: top;
}

.form-field label,
.form-field input,
.form-field select,
.form-field textarea {
    display: inline-block;
    vertical-align: top;
}

.form-field label {
    width: 35%;
    text-align: left;
}

.form-field span {
    display: inline-block;
    text-align: left;
}

.form-field input,
.form-field select,
.form-field textarea,
.form-field span {
    width: 60%;
}

/* Popups
----------------------------------------------------------*/
.popup {
    z-index: 5;
    color: white;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 30%;
}

.popup .bevel {
    padding: 1em 0;
}

.popup.main-menu {
    text-align: center;
    width: 30%;
    left: 35%;
}

.popup.main-menu .button {
    width: 70%;
    display: inline-block;
    margin: .5em auto;
}

/* footer
----------------------------------------------------------*/

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    height: auto;
}

    footer p {
        margin: 1pt 3pt;
        color: #b7b7b7;
        font-size: 75%;
        font-style: italic;
    }
