html {
    background-color: #2a2a2a;
    background-image: url('../img/speedcloth.png');
    background-size: 150px;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(rgba(38, 157, 255, .4), rgba(0, 0, 0, .7));
    color: #fff;
    font-size: .6em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

body.flashing {
    background: rgba(255, 0, 0, .3);
}

table, th, td {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
}

#menu_expand {
    position: absolute;
    background-color: rgba(255, 255, 255, .07);
    box-shadow: 1px 1px 5px black;
    top: 0;
    left: 0;
    padding: .5em 1em;
    cursor: pointer;
}

#menu_expand:hover {
    position: absolute;
    background-color: rgba(174, 255, 0, .09);
    box-shadow: 1px 1px 5px 5px black;
}

#modal_overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .9);
    z-index: 3;
}

.plaque {
    background-color: #000000;
    background-image: url('../img/leather.png');
    background-size: cover;
    border-radius: 50px;
    box-shadow: 3px 3px 5px #000000;
}

.plaque .bevel {
    background-image: url('../img/woodgrain.jpg');
    background-repeat: repeat;
    margin: 10px;
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: inset 3px 3px 10px black;
}

.button {
    font-size: 1.25em;
    font-family: 'arial';
    display: inline;
    padding: 2 10px;
    background-image: url('../img/leather.png');
    background-size: 600%;
    color: #ffffff;
    text-shadow: 1px 1px 2px black;
    border: none;
    border-radius: 2px;
    box-shadow: 3px 2px 5px #000000;
    text-align: center;
    margin: 0 5px;
    cursor: pointer;
}

.button:hover {
    color: #000000;
    background-image: none;
    color: #b7b7b7;
    background-color: rgba(0, 0, 0, .5);
}

.button.disabled {
    opacity: .5;
    cursor: not-allowed;
}

.button:active {
    cursor: pointer;
    color: #000000;
    background-color: #8be8e3;
    box-shadow: 2px 2px 10px #000000;
}

.header {
    top: 1em;
    position: absolute;
    left: 20%;
    width: 60%;
    text-align: center;
    text-shadow: 1px 1px 3px #000000 ;
}

.header .bevel {
    border: 1px solid black;
}

.header-text {
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 3em;
    letter-spacing: .05em;
    font-family: monospace;
    z-index: 1;
    margin: 10px 5px 0 0;
    color: midnightblue;
}

.header-text2 {
    display: inline-block;
    position: relative;
    vertical-align: top;
    font-size: 8.5em;
    font-family: 'DSDIGI';
    z-index: 0;
    margin: 5px 10px 0 0;
    color: #ffffff;
}

.header img {
    position: relative;
    z-index: 0;
    width: 90%;
}

.game {
    position: absolute;
    width: 40%;
    left: 30%;
    bottom: 20%;
    text-align: center;
    text-shadow: 2px 2px 5px #000000;
}

.game label {
    font-size: 1.5em;
    color: #b7b7b7;
}

.game span {
    font-size: 2em;
    font-weight: bold;
    margin-left: 1em;
}

.players {
    position: absolute;
    top: 15%;
    width: 15%;
}

.players h1 {
    font-size: 2em;
    font-weight: normal;
    font-family: 'arial';
    display: inline-block;
    padding: 0 5px;
    margin: 0 .25em 1em .25em;
    text-shadow: 1px 1px 3px black;
}

.players #Add_Player,
.players #Add_Players,
#Configure_Payouts {
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 .5em .5em;
    padding: 2px 12px 2px 12px;
}

#Configure_Payouts {
    margin: 0 .5em .2em 0;
}

.players li {
    line-height: 1.1em;
    position: relative;
    margin: 0 0 5px 0;
    padding: 0 0 5px 0;
    background: linear-gradient(25deg, rgba(0, 0, 0, 0.6), transparent 45%);
}

.players li.paidx0 span {
    color: rgba(255, 255, 255, .3);
    text-shadow: none;
}

.players li span,
.players li .rebuy:not(.button),
.players li .boost:not(.button),
.players li button {
    display: inline-block;
    vertical-align: top;
}

.players li .boost:not(.button),
.players li .rebuy:not(.button){
    color: red;
}

.players li span {
    font-size: 2em;
    line-height: 1.5em;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    padding: 0 0 0 .5em;
    cursor: pointer;
}

.players li:hover span {
    color: #ffffff;
}

.players li div.rebuy {
}

.players li div.rebuy img {
    height: .9em;
}

.players li .placing {
    float: right;
}

.player-menu {
    text-align: center;
}

.player-menu .button {
    font-size: 1.25em;
    display: block;
    margin: .5em 1em;
    padding: 3px;
    background-size: 250%;
}

.timer {
    position: absolute;
    top: 30%;
    width: 40%;
    left: 32%;
    color: #d3ff3d;
    text-shadow: 3px 3px 10px #000000;
    text-align: center;
}

.timer audio {
    display: none;
}

.timer table {
    display: block;
    width: 100%;
}

.timer .display td {
    font-size: 10em;
    font-family: 'DSDIGI';
}

.timer td {
    text-align: center;
}

.timer td.first {
    text-align: right;
    width: 45%;
}

.timer td.last {
    text-align: left;
    width: 45%;
}

.timer .control .button {
    font-size: 1em;
}

.timer td.adjustments {
    text-align: center;
    width: 30px;
}

.timer td.adjustments .button {
    font-size: 16px;
    display: inline-block;
    margin: 5px 0;
}

.button-wrapper {
    margin-top: 1.5em;
}

.chip-values {
    position: absolute;
    left: 25%;
    width: 50%;
    text-align: center;
    color: #ffffff;
    bottom: 1em;
    text-shadow: 1px 1px 3px #000000;
}

.chip-values .bevel {
    padding: .5em 1em .25em 1em;
}

.chip-values .item {
    text-align: center;
    display: inline-block;
    width: 5em;
    margin: 0 .25em;
}

.chip-values .item span {
    margin-left: -10px;
    font-weight: bold;
    font-size: 1.4em;
}

.chip-values .item img {
    width: 100%;
}

.blinds {
    position: absolute;
    top: 15%;
    right: 0;
    width: 15%;
    font-size: 1.5em;
    text-align: right;
}

.blinds li {
    background: linear-gradient(195deg, rgba(0, 0, 0, 0.5), transparent 45%);
    position: relative;
    display: block;
    margin: 5px 0;
}

.blinds li.end-of-rebuy-1 {
    
}

.blinds li span {
    display: inline-block;
    padding: 5pt 1em 5pt 0;
    text-shadow: 1px 1px 3px black;
}

.blinds li.completed-1 {
    opacity: .6;
    font-size: 1em;
}

.blinds li.completed-1 span {
    text-decoration: line-through;
}

.blinds li.active span {
    font-size: 1.2em;
    font-weight: bold;
}

.blinds li.active .status {
    position:  absolute;
    top: -5px;
    right: 0;
    left: 1em;
    bottom: -5px;
    background: 
        linear-gradient(45deg, rgba(255, 255, 255, .3), rgba(255, 255, 255, .1), rgba(255, 255, 255, .04), rgba(255, 255, 255, .1)),
        linear-gradient(rgba(0, 0, 0, .8) 10%, transparent 10%, transparent 90%, rgba(0, 0, 0, .7) 90%), 
        linear-gradient(to right, rgba(0, 0, 0, .95) 2%, transparent 2%);
    box-shadow: -5px 5px 15px #000000;
}

.blinds li.finished .status {
    position: absolute;
    right: 20pt;
    top: 0;
    height: 100%;
    width: 20pt;
}

.blinds li img.chip-up {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width: 30px;
    margin: 0 2px;
}

/* Forms
----------------------------------------------------------*/
form {
    text-align: center;
}
.form-field {
    margin: .5em 0 0 0;
    width: 80%;
    display: inline-block;
    vertical-align: top;
}

.form-field label,
.form-field input,
.form-field select,
.form-field textarea {
    display: inline-block;
    vertical-align: top;
}

.form-field label {
    width: 35%;
    text-align: left;
}

.form-field span {
    display: inline-block;
    text-align: left;
}

.form-field input,
.form-field select,
.form-field textarea,
.form-field span {
    width: 60%;
}

/* Popups
----------------------------------------------------------*/
.popup {
    z-index: 5;
    color: white;
    position: absolute;
    width: 50%;
    left: 25%;
    top: 30%;
}

.popup .bevel {
    padding: 1em 0;
}

.popup.main-menu {
    text-align: center;
    width: 30%;
    left: 35%;
}

.popup.main-menu .button {
    width: 70%;
    display: inline-block;
    margin: .5em auto;
    background-size: 200%;
}

.popup.add-players ul {
    max-height: 200px;
    overflow: auto;
    margin-top: 1em;
    text-align: left;
    display: inline-block;
    width: 60%;
}

.popup.add-players li input {
    display: inline-block;
    margin: 2pt 2em;
    transform: scale(1.5);
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
}

.popup.add-players li label {
    display: inline-block;
    font-size: 1.6em;
}

/* footer
----------------------------------------------------------*/

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    height: auto;
}

    footer p {
        margin: 1pt 3pt;
        color: #b7b7b7;
        font-size: 75%;
        font-style: italic;
    }
