@inherits System.Web.Mvc.WebViewPage<GameDashboardVM>
@using Palooza.Net.Web.Models.ViewModels

@if (Model.Game.GameID > 0)
{
    <div class="blinds">
        <ul>
            @foreach (var blind in Model.Blinds) 
            {
                <li class="end-of-rebuy-@blind.Detail.EndOfRebuy completed-@blind.Completed" data-id="@blind.Detail.BlindID">
                    @if (blind.Detail.EndOfRebuy && blind.Completed)
                    {
                        <div class="button" title="Configure payouts" id="Configure_Payouts">$</div>
                    }
                    <span>@blind.Detail.SmallBlind/@blind.Detail.LargeBlind</span>
                    <div class="status"></div>
                    @if (blind.Detail.ChipUpID > 0 && !blind.Completed)
                    {
                        <div class="chip-up chip-up-@blind.Detail.ChipUpID">
                            BREAK 15 min! Chip up <img src="img/@blind.Detail.ChipUpIMG" />
                        </div>
                    }
                </li>
            }
        </ul>
    </div>
}




